._progress {
  display: flex;
  text-align: center;
  position: absolute;
  border-radius: 20px;
  z-index: -5;
}

._progress > div {
  height: 5vh;
  padding: 2%;
  border-radius: 20px;
  transition: width 2s ease-in;
}

.Totalprogress {
  width: 40%;
  height: max-content;
  background-color: #ccc;
  color: orange;
}

.Totalprogress > div {
  border-radius: 20px;
  height: 1vh;
  transition: width 2s ease-in;
  background-color: #0d6efd;
}
